body{
    font: 15px/1.5 Book Antiqua, Times, serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff/*#fffab3*/ /*#e8c15f*/;
}
/*Global*/
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/* Header*/
header{
    background: #193300;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: goldenrod 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header #branding {
    float: left;
}

header #branding h1{
    margin: 0;
    font-size: 33px;
}

header .highlight{
    font-family: /*Lucida Calligraphy*/ Monotype Corsiva, cursive;
    font-size: 45px;
    font-style: italic;
    color:goldenrod;
    font-weight: normal;
}
header .current a{
    color:goldenrod;
    font-weight: bold;
}

header a:hover{
    color:goldenrod;
    font-weight:300;
    font-size: 17px;
}

/*Showcase*/
#showcase{
    min-height: 600px;
    background: url('../images/showcase.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 5%;
    text-align: center;
    color: #193300/*#193300*/;
    border-bottom: goldenrod 3px solid;
}

#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px
}

#showcase .highlight{
    color: rgba(255, 183, 0, 0.945)
}

#showcase p{
    font-size: 20px;
}

#second_header{
    margin-left: 2.5%;
}

#second_header .highlight{
    color: goldenrod;
    font-family: Monotype Corsiva, cursive;
    font-size: 30px;
    font-style: italic;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color:goldenrod;
    background-color: #193300;
    text-align: center;
}